@font-face {
    font-family: 'Apoc';
    src: url('assets/font/Apoc-Light.woff2') format('woff2'),
        url('assets/font/Apoc-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('assets/font/UntitledSans-Light.woff2') format('woff2'),
        url('assets/font/UntitledSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('assets/font/UntitledSans-Bold.woff2') format('woff2'),
        url('assets/font/UntitledSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('assets/font/UntitledSans-Regular.woff2') format('woff2'),
        url('assets/font/UntitledSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Untitled Sans';
    src: url('assets/font/UntitledSans-Medium.woff2') format('woff2'),
        url('assets/font/UntitledSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

:root {
  --first-color: #eb5d52;

  --second-color: #f0ac01;

  --third-color: #d5ebda;

  --fourth-color: #ff6699;
}

/* Hide scrollbar for Chrome, Safari and Opera */

.content::-webkit-scrollbar {
    display: none;
}
.inner-wrap::-webkit-scrollbar {
    display: none;
}

#video-viewport::-webkit-scrollbar {
    display: none;
}

/* TYPOGRAPHY */

html, body {
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 2vw;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-variant-ligatures: common-ligatures;
    background-color: black;
    height: 100%;
    width: 100%;
}

img::selection {
    background-color: black;
    color: white;
}

h2 {
    font-family: 'Apoc', serif;
    font-size: 1rem;
    text-transform: uppercase;
    line-height: normal;
    text-decoration: none;
    font-weight: 300;
    transition: ease;
    color: black;
    letter-spacing: -0.06em;
    text-transform: none;
    transition: ease 200ms;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*text-shadow:
            -0.2px -0.2px 1px #fff,
            0.2px 0.2px 1px #fff,
            0 0 1px var(--neon-text-color),
            0 0 2px var(--neon-text-color),
            0 0 3px var(--neon-text-color),
            0 0 4px var(--neon-text-color),
            0 0 5px var(--neon-text-color);*/
}

a {
    font-family: 'Untitled Sans', Helvetica, Arial, sans-serif;
    font-size: 0.4rem;
    line-height: normal;
    font-weight: 400;
    color: black;
    text-decoration: none;
    transition: ease;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

p {
    font-family: 'Untitled Sans', Helvetica, Arial, sans-serif;
    font-size: 0.4rem;
    letter-spacing: normal;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 400;
    padding: 10px;
}

h3 {
    font-family: 'Untitled Sans', Helvetica, Arial, sans-serif;
    font-size: 0.3rem;
    letter-spacing: normal;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 400;
    padding: 10px;
}

h4 {
    display: inline;
    font-family: 'Untitled Sans', Helvetica, Arial, sans-serif;
    font-size: 0.4rem;
    letter-spacing: normal;
    color: black;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: 400;
}

ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

::-moz-selection {
    background-color: black;
    color: white;
}

::selection {
  background-color: black;
    color: white;
}

h2:hover {
    color: pink;
    filter: blur(2px);
}

a:hover {
    color: #ff00ff;
    transition: all 400ms ease;
    text-shadow: 1px 1px 8px #ff44ff;
}

/* MAIN STUFF */

.big-wrap {
    position: absolute;
    width: 100%; 
    height: 100%; 
    overflow-y: hidden;
}

.controls {
    position: fixed;
    width: 15px;
    top: 20px;
    right: 25vw;
    cursor: pointer;
    z-index: 500;
    animation: loade;
    animation-duration: 1s;
}

#mute {
    cursor: pointer;
    position: fixed;
    height: auto;
    margin: auto auto;
    bottom: 20px;
    height: auto;
    right: 0;
    left: 0;
    width: 60px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px 10px white;
    border-radius: 10px;
    animation: text 4s ease;
    transition: all 400ms ease;

}

#close {
    cursor: pointer;
    height: auto;
    width: 15px;
    position: fixed;
    top: 0px;
    right: 30px;
    filter: invert(1);
    background-size: cover;
}

#close-all {
    cursor: pointer;
    position: fixed;
    display: none;
    height: auto;
    bottom: 20px;
    right: 27vw;
    width: 60px;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px 10px white;
    border-radius: 10px;
    transition: all 2400ms ease;
}

#video-viewport { 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    overflow: hidden; 
    transition: all 1s ease;
    background-color: black;
}

#c {
    width: 100vw;
    height: 100vh;
    background-image: url(assets/img/grad.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 0;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.logo:hover {
    filter: saturate(2);
}

.gridblock {
    display: flex;
    align-items: center;
    position: fixed;
    transition: all 1000ms ease;
    z-index: 500;
    cursor: pointer;
    text-shadow: 1px 1px 8px lightpink;
    will-change: transform, opacity;
}

.gridblock img {
    width: 10vw;
    margin-top: 20px;
    margin-right: 20px;
    height: auto;
    animation-name: text;
    animation-duration: 5s;
    animation-delay: 0s;
    will-change: transform, opacity;
}

.gridblock h2 {
    animation-name: text;
    animation-duration: 6s;
    animation-delay: 0s;
    will-change: transform, opacity;
}

.gridblock:hover {
    transform: scale(1.1, 1.1);
    filter: saturate(2);
}

.topleft {
    top: 0;
    padding: 20px 20px 20px 20px;
    border-radius: 0 0% 50% 50%;
    left: 0;
    background-color: #eb5d52;
    box-shadow: 0px 0px 30px 60px #eb5d52;
    animation-name: resizetl;
    animation-duration: 3s;
    animation-delay: 0s;
}

.topright {
    top: -20px;
    right: -30px;
    padding: 20px;
    border-radius: 0 0 50% 50%;
    background-color: #f0ac01;
    box-shadow: 0px 0px 30px 60px #f0ac01;
    animation-name: resizetr;
    animation-duration: 3s;
    animation-delay: 0s;
}

.botleft {
    bottom: -30px;
    left: 0;
    border-radius: 50% 50% 50% 0%;
    padding: 20px 20px 50px 20px;
    text-align: center;
    background-color: #d5ebda;
    -moz-box-shadow: 0px 0px 30px 60px #d5ebda;
    -webkit-box-shadow: 0px 0px 30px 60px #d5ebda;
    animation-name: resize;
    animation-duration: 3s;
    animation-delay: 0s;
}

.botright {
    bottom: 0;
    right: 0;
    border-radius: 50% 50% 0 0;
    padding: 0 20px 20px 0px;
    background-color: #ff6699;
    box-shadow: 0px 0px 30px 60px #ff6699;
    animation-name: resizebr;
    animation-duration: 3s;
    animation-delay: 0s;
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 60vw;
    height: 80vh;
    background-color: black;
    background-position: center top;
    background-size: 30% auto;
    background-repeat: no-repeat;
    transform: translateY(-200%);
    z-index: 1000;
    box-shadow: 0 0 30px 60px black;
    transition: all 1s ease;
    border-radius: 30px;
}

.inner-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.blackfade {
    position: absolute;
    width: 30vw;
    height: 10px;
    margin: auto auto;
    left: 0;
    right: 0;
    background-color: black;
    box-shadow: 0 20px 15px 30px black;
}

.blackfadebot {
    position: absolute;
    width: 30vw;
    height: 10px;
    margin: auto auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    box-shadow: 0 -20px 15px 30px black;
    z-index: 100;
}

.appear {
    transform: translateY(0%);
    transition: all 1s ease;
}

.rings {
    margin-top: -50px;
    height: 250vh;
}

.grid-image {
    display: block;
    max-width: 100%;
    min-width: 150px;
    transition: 200ms ease;
    /*box-shadow:
            0 0 .2rem #fff,
            inset 0 0 .2rem #fff,
            0 0 .6rem var(--neon-border-color),
            inset 0 0 .2rem var(--neon-border-color),
            0 0 .2rem var(--neon-border-color),
            inset 0 0 1rem var(--neon-border-color);*/     
}

.hiddenthing {
    position: fixed;
    display: block;
    top: 0;
    right: 30;
    transition: all 200ms ease-out;
    animation-name: resize;
    animation-duration: 2s;
    animation-delay: 1s;
    padding: 20px;
    border-radius: 50%;
    /*transform: rotate(40deg);*/
    background-color: #f0ac01;
    background-image: url("assets/img/bagpics/bagcut1.png");
}

/* ANIMATION */

.loader {
    position: fixed;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    transition: all 200ms ease-out;
    animation-name: loade;
    animation-duration: 3s;
    animation-delay: 2s;
    background-color: black;
    box-shadow: 0 0 30px 30px black;
    animation-fill-mode: forwards;
}

@keyframes loade {
    0%  {opacity: 100%;
        transform: translateY(0%);}
    98% {transform: translateY(0%);}
    100% {opacity: 0%;
        transform: translateY(-120%);}
}

@keyframes resize {
    0% {transform: translate3d(-150%, 150%,0) scale(5);}
    50% {transform: scale(5);}
    100% {transform: translate3d(0,0,0) scale(1);}
}

@keyframes resizebr {
    0% {transform: translate3d(-150%, 150%,0) scale(5);}
    50% {transform: scale(5);}
    100% {transform: translate3d(0,0,0) scale(1);}
}

@keyframes resizetr {
    0% {transform: translate3d(-150%, 150%,0) scale(5);}
    50% {transform: scale(5);}
    100% {transform: translate3d(0,0,0) scale(1);}
}

@keyframes resizetl {
    0% {transform: translate3d(-150%, 150%,0) scale(5);}
    50% {transform: scale(5);}
    100% {transform: translate3d(0,0,0) scale(1);}
}

@keyframes text {
    0% {opacity: 0%;}
    50%{opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes loader {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
}

/* CLICK DIVS */

.bio-left {
    position: fixed;
    z-index: -1;
    padding: 50px;
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 35vw;
    transition: all 500ms ease;
    background-color: #eb5d52;
    transform: rotateZ(20deg);
    box-shadow: 0 0 30px 60px #eb5d52;
}

.bio {
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px 30px;
    border-radius: 30% 40% 50% 50%;
    margin: auto auto;
    background-color: var(--first-color);
    box-shadow: 0 0 30px 60px var(--first-color);
    text-align: left;
    width: 25vw;
    transition: all 400ms ease;
}

.purchase {
    position: fixed;
    z-index: 400;
    bottom: 0;
    left: 5%;
    padding: 60px 0 20vh 0px;
    border-radius: 50%;
    background-color: var(--third-color);
    box-shadow: 0 0 30px 60px var(--third-color);
    text-align: left;
    width: 16vw;
    height: auto;
    transition: all 400ms ease;
}

.credit {
    position: fixed;
    z-index: 400;
    bottom: 0;
    right: 5%;
    padding: 30px 0 15vh 0px;
    border-radius: 50%;
    background-color: var(--fourth-color);
    box-shadow: 0 0 30px 60px var(--fourth-color);
    width: 16vw;
    height: auto;
    text-align: left;
    transition: all 400ms ease;
}


.bio-pic {
    z-index: 500;
    position: fixed;
    bottom: -11%;
    left: 0;
    right: 0;
    margin: auto auto;
    width: 35%;
    transition: all 200ms ease;
}

.purchase-pic {
    z-index: 500;
    position: fixed;
    bottom: 35%;
    left: 0;
    width: 25%;
    height: auto;
    transition: all 200ms ease;
}

.credit-pic {
    z-index: 500;
    position: fixed;
    bottom: 30%;
    right: -1%;
    width: 27%;
    transition: all 200ms ease;
}

.add {
    opacity: 0;
}

.fadein {
    opacity: 1;
    transform: scale(1);
}

.vidblur {
    opacity: 60%;
    filter: blur(10px);
}

/* RESPONSIVE */

@media screen and (max-width: 1199.98px) {

    a {
        font-size: 0.6em;
      }

    p {
        font-size: 0.6em;
      }

    h1 {
        font-size: 1.1rem;
      }

    h4 {
        font-size: 0.6em;
      }

    .bio-pic {
        bottom: -8%;
    }

    .credit {
        width: 20vw;
    }

    .purchase {
        width: 20vw;
    }


}

@media screen and (max-width: 767.98px) {

    a {
        font-size: 1.3em;
      }
    
    p {
        font-size: 1.3em;
    }

    h2 {
        font-size: 2em;
      }

    h3 {
        font-size: 6px;
      }

    h4 {
        font-size: 1.3em;
    }

    .content {
        width: 65%;
        height: 75%; 
        overflow-x: hidden;
        border-radius: 20px;
        box-shadow: 0 0 20px 30px black;
    }

    .rings {
        margin-top: 0px;
        height: 150vh;
    }

    .bio {
        display: flex;
        padding: 20px;
        margin: 10% auto 0 auto;
        width: 70%;
        height: 35%;
        top: 20px;
        border-radius: 50%;
        box-shadow: 0 0 20px 30px var(--first-color);
        align-items: center;
        justify-content: center;
    }

    .purchase {
        display: flex;
        left: 10%;
        width: 50%;
        height: 20%;
        bottom: 30%;
        padding: 10px;
        box-shadow: 0 0 20px 30px var(--third-color);
        align-items: center;
        justify-content: center;
    }

    .credit {
        display: flex;
        right: 10%;
        bottom: 8%;
        width: 60%;
        height: 20%;
        padding: 10px;
        box-shadow: 0 0 20px 30px var(--fourth-color);
        align-items: center;
        justify-content: center;
    }

    .links-wrap {
        align-items: left;
        justify-content: left;
    }

    .bio-pic {
        display: none;
    }

    .purchase-pic {
        display: none;
    }

    .credit-pic {
        display: none;
    }

    #close-all {
        margin: auto auto;
        left: 0;
        right: 0;
        bottom: unset;
        top: 2vh;
    }

    #mute {
        margin: auto auto;
        left: 0;
        right: 0;
        bottom: 2vh;
    }

    .topleft {
        top: 0;
        padding: 10px;
        border-radius: 0 0% 50% 50%;
        left: 0;
        opacity: 100%;
        transform: translateX(0vw);
        box-shadow: 0 0 20px 30px var(--first-color);
    }

    .topright {
        top: -10px;
        right: -20px;
        padding: 10px;
        border-radius: 0 0 50% 50%;
        box-shadow: 0 0 20px 30px var(--second-color);
    }

    .gridblock img {
        min-width: 20vw;
        height: auto;
        margin-top: 10px;
    }

    .botleft {
        bottom: -30px;
        left: 0;
        border-radius: 20% 50% 0% 0%;
        padding: 10px 10px 40px 10px;
        text-align: center;
        background-color: #d5ebda;
        box-shadow: 0 0 20px 30px var(--third-color);
    }

    .botright {
        bottom: 0px;
        right: 0;
        text-align: center;
        border-radius: 50% 0% 0% 0%;
        padding: 10px 10px 10px 10px;
        box-shadow: 0 0 20px 30px var(--fourth-color);
    }
}